[submodule "pelican-plugins"]
	path = pelican-plugins
	url = git@github.com:hummel/pelican-plugins.git
[submodule "pelican-octopress-theme"]
	path = pelican-octopress-theme
	url = git@github.com:hummel/pelican-octopress-theme.git
